<div class="{{styleNamespace}}__dropdowns">
  {{#platform/filters-dropdown selected='Seekers' as |selected dropdown updateSelection|}}
    {{platform/filters-dropdown-option
      onSelect=(action updateSelection)
      dropdownSelection=selected
      dropdown=dropdown
      label='Seekers'}}
    {{platform/filters-dropdown-option
      onSelect=(action updateSelection)
      dropdownSelection=selected
      dropdown=dropdown
      label='Leads'}}
  {{/platform/filters-dropdown}}
</div>
{{#each filters as |filter|}}
  {{platform/main-filter filter}}
{{/each}}
{{platform/add-filter}}
