{{#basic-dropdown onClose=(action "toggleDropdown") onOpen=(action "toggleDropdown") as |dropdown|}}
  {{#dropdown.trigger}}
    <button class="{{styleNamespace}}__button {{isShowingDropdownClass}}">
      {{selected}}
      <i class='fas fa-caret-down'></i>
    </button>
  {{/dropdown.trigger}}
  {{#dropdown.content}}
    <div class="{{styleNamespace}}__options">
      {{yield selected dropdown (action "updateSelection")}}
    </div>
  {{/dropdown.content}}
{{/basic-dropdown}}


