{{#link-to 'apps.app.people.segments.segment' allSeekers class=(concat styleNamespace '__link')}}
  <i class='fas fa-users'></i>
  {{allSeekers.name}}
  <span>  
    ({{allSeekers.humanizedCount}})
  </span>
{{/link-to}}
{{#link-to 'apps.app.people.segments.segment' allLeads class=(concat styleNamespace '__link')}}
  <i class='fas fa-users'></i>
  {{allLeads.name}}
  <span>
    ({{allLeads.humanizedCount}})
  </span>
{{/link-to}}
<div class="{{styleNamespace}}__separator"></div>
{{#link-to 'apps.app.people.segments.segment' newSeekers class=(concat styleNamespace '__link')}}
  <i class='fas fa-user'></i>
  {{newSeekers.name}}
  <span>
    ({{newSeekers.humanizedCount}})
  </span>
{{/link-to}}
{{#link-to 'apps.app.people.segments.segment' activeSeekers class=(concat styleNamespace '__link')}}
  <i class='fas fa-heartbeat'></i>
  {{activeSeekers.name}}
  <span>
    ({{activeSeekers.humanizedCount}})
  </span>
{{/link-to}}
{{#link-to 'apps.app.people.segments.segment' slippingAwaySeekers class=(concat styleNamespace '__link')}}
  <i class='fas fa-frown'></i>
  {{slippingAwaySeekers.name}}
  <span>
    ({{slippingAwaySeekers.humanizedCount}})
  </span>
{{/link-to}}
